@tailwind base;
@tailwind components;
@tailwind utilities;

body ,html {
  cursor: url('/icons/cursor.png'), auto ;
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 7px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background: theme("colors.secondary");;
  border-radius: 8px;
  /* Rounded corners for the thumb */
  transition: all 0.2s ease-in-out;
  /* Smooth transitions for background and transform */
}
/* Customize the scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  transform: scale(1.05);
  /* Scale the thumb slightly on hover */
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-hover {
  transform: scale(1) translate(var(--transition-x, 0), var(--transition-y, 0));
  transition: transform 0.3s ease;
}

.image-hover:hover {
  transform: scale(1.16) translate(var(--transition-x, 0), var(--transition-y, 0));
}
